In [4]:
import pandas as pd
import json

In [3]:
# df = pd.read_json('news-headlines-dataset-for-sarcasm-detection/Sarcasm_Headlines_Dataset_v2.json', lines=True)

In [7]:
def parse_data(file):
    for l in open(file,'r'):
        yield json.loads(l)

In [11]:
data = list(parse_data('./Sarcasm_Headlines_Dataset_v2.json'))

In [12]:
df = pd.DataFrame(data)

In [14]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.theonion.com/thirtysomething-scien...,thirtysomething scientists unveil doomsday clo...,1
1,https://www.huffingtonpost.com/entry/donna-edw...,dem rep. totally nails why congress is falling...,0
2,https://www.huffingtonpost.com/entry/eat-your-...,eat your veggies: 9 deliciously different recipes,0
3,https://local.theonion.com/inclement-weather-p...,inclement weather prevents liar from getting t...,1
4,https://www.theonion.com/mother-comes-pretty-c...,mother comes pretty close to using word 'strea...,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28619 entries, 0 to 28618
Data columns (total 3 columns):
article_link    28619 non-null object
headline        28619 non-null object
is_sarcastic    28619 non-null int64
dtypes: int64(1), object(2)
memory usage: 670.8+ KB